<h1 class="text-center">Adopt Form</h1>

<div class="container" id="div_form">
    <form method="post" id="form">
    <div class="mb-3">
        <label for="father_document" class="form-label">Father's Document</label>
        <input type="text" class="form-control" id="father_document" minlength="10" maxlength="10">
    </div>
    <div class="mb-3">
        <label for="mother_document" class="form-label">Mother's Document</label>
        <input type="text" class="form-control" id="mother_document" minlength="10" maxlength="10">
    </div>
    <div class="mb-3">
        <label for="idChild" class="form-label">Document's Child</label>
        <input type="text" class="form-control" id="idChild" minlength="10" maxlength="10" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>