<h1 class="text-center">Person Form</h1>

<div class="container" id="div_form">
    <form method="post" id="form">
    <div class="mb-3">
        <label for="document" class="form-label">Document</label>
        <input type="text" class="form-control" id="document" minlength="10" maxlength="10" required>
    </div>
    <div class="mb-3">
        <label for="full_name" class="form-label">Full name</label>
        <input type="text" class="form-control" id="full_name" required>
    </div>
    <div class="mb-3">
        <label for="birth_date" class="form-label">Birth date</label>
        <input type="date" class="form-control" id="birth_date" required>
    </div>
    <div class="mb-3">
        <label for="father" class="form-label">Father document</label>
        <input type="text" class="form-control" id="father">
    </div>
    <div class="mb-3">
        <label for="mother" class="form-label">Mother document</label>
        <input type="text" class="form-control" id="mother">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>